{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  if limit == 1
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}

<div class="product__media-wrapper product__media-wrapper--{{ section.settings.gallery_layout }}">
  <div class="product__media-list">
    {%- for media in product.media -%}
      <div
        class="product__media-item"
        data-media-id="{{ section.id }}-{{ media.id }}"
        {% if media.media_type == 'model' %}
          data-product-media-type-model
        {% endif %}
      >
        {% case media.media_type %}
          {% when 'image' %}
            <div class="product__media">
              <img
                srcset="
                  {%- if media.preview_image.width >= 493 -%}{{ media.preview_image | image_url: width: 493 }} 493w,{%- endif -%}
                  {%- if media.preview_image.width >= 600 -%}{{ media.preview_image | image_url: width: 600 }} 600w,{%- endif -%}
                  {%- if media.preview_image.width >= 713 -%}{{ media.preview_image | image_url: width: 713 }} 713w,{%- endif -%}
                  {%- if media.preview_image.width >= 823 -%}{{ media.preview_image | image_url: width: 823 }} 823w,{%- endif -%}
                  {%- if media.preview_image.width >= 990 -%}{{ media.preview_image | image_url: width: 990 }} 990w,{%- endif -%}
                  {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if media.preview_image.width >= 1206 -%}{{ media.preview_image | image_url: width: 1206 }} 1206w,{%- endif -%}
                  {%- if media.preview_image.width >= 1346 -%}{{ media.preview_image | image_url: width: 1346 }} 1346w,{%- endif -%}
                  {%- if media.preview_image.width >= 1426 -%}{{ media.preview_image | image_url: width: 1426 }} 1426w,{%- endif -%}
                  {%- if media.preview_image.width >= 1646 -%}{{ media.preview_image | image_url: width: 1646 }} 1646w,{%- endif -%}
                  {%- if media.preview_image.width >= 1946 -%}{{ media.preview_image | image_url: width: 1946 }} 1946w,{%- endif -%}
                  {{ media.preview_image | image_url }} {{ media.preview_image.width }}w
                "
                sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                src="{{ media.preview_image | image_url: width: 1946 }}"
                loading="lazy"
                alt="{{ media.preview_image.alt | escape }}"
                width="{{ media.preview_image.width }}"
                height="{{ media.preview_image.height }}"
                {% if section.settings.image_zoom == 'hover' %}
                  data-zoom="{{ media.preview_image | image_url: width: 1946 }}"
                {% endif %}
              >
            </div>
          {% when 'external_video' %}
            <div class="product__media">
              {{ media | external_video_tag: class: 'media-video' }}
            </div>
          {% when 'video' %}
            <div class="product__media">
              {{ media | video_tag: class: 'media-video', controls: true }}
            </div>
          {% when 'model' %}
            <div class="product__media">
              {{ media | model_viewer_tag }}
            </div>
        {% endcase %}
      </div>
    {%- endfor -%}
  </div>

  {%- if product.media.size > 1 -%}
    <div class="product__media-thumbnails">
      {%- for media in product.media -%}
        <button
          class="product__media-thumbnail"
          data-media-id="{{ section.id }}-{{ media.id }}"
          {% if media.media_type == 'model' %}
            data-product-media-type-model
          {% endif %}
        >
          <img
            srcset="
              {%- if media.preview_image.width >= 200 -%}{{ media.preview_image | image_url: width: 200 }} 200w,{%- endif -%}
              {%- if media.preview_image.width >= 300 -%}{{ media.preview_image | image_url: width: 300 }} 300w,{%- endif -%}
              {%- if media.preview_image.width >= 400 -%}{{ media.preview_image | image_url: width: 400 }} 400w,{%- endif -%}
              {{ media.preview_image | image_url }} {{ media.preview_image.width }}w
            "
            sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
            src="{{ media.preview_image | image_url: width: 400 }}"
            loading="lazy"
            alt="{{ media.preview_image.alt | escape }}"
            width="{{ media.preview_image.width }}"
            height="{{ media.preview_image.height }}"
          >
        </button>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
